<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="simpleBean" class="com.caveofprograming.test.SimpleBean" init-method="anInitMethod" />

<!--  T0D0-01: Add init Method  -->

<!--  T0d0-02: Enable ANnotation Config  -->

<!--  T0d0-03: Add a BeanFactoryPostProcessor -->

<!--  T0d0-04 Add a simple BeanPostProcessor  -->
</beans>



